table{
    text-align: center;
    background-color: rgba(0, 255, 140, 0.656);
}

.h{
    background-color: #0015ff;

}

.j{
    background-color: #546100;
}

.m{
    background-color: #ff0000;
}

.p{
    background-color: aquamarine;
}

.q{
    background-color: #00ff00;
}

.cs{
    background-color: #ff00c8;
}

.CH{
    background-color: #009b03;
}

.s2{
    background-color: #ffe600;
}

.ACD{
    background-color: aqua;
}

.In{
    background-color: orange;
}

.t{
    background-color: rgb(39, 207, 207);
}

.o{
    background-color: rgba(175, 0, 0, 0.941);
}